<div class="row">
    <h2 class="text-center my-3 text-secondary">Counter App </h2>
    <div class="col">
        <div class="border rounded">
            <div class="my-3">
                <!-- <app-counter-output [counter]="counter"></app-counter-output> -->
                <app-counter-output></app-counter-output>
            </div>
            <div class="my-3">
                <!-- <app-counter-buttons (increment)="onInc()" (decrement)="onDec()" (reset)="onReset()"></app-counter-buttons> -->
                <app-counter-buttons></app-counter-buttons>
            </div>
        </div>
        <div class=" my-3 ">
            <app-custom-counter-input></app-custom-counter-input>
        </div>
    </div>
</div>