<div class="row">
    <div class="col-md-8">
        <h3>Posts List ({{count | async}})</h3>

        <div>
            <a class="btn btn-primary my-3" [routerLink]="['/posts/add-post']">Add Post</a>
        </div>

        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Title</th>
                    <th>Description</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let post of posts | async">
                    <td>{{post.id}}</td>
                    <td>{{post.title}}</td>
                    <td>{{post.description}}</td>
                    <td><button class="btn btn-warning" routerLink="edit-post/{{post.id}}">Update</button>&nbsp;
                    <button class="btn btn-danger" (click)="onDelete(post.id)">Delete</button>&nbsp;
                    <button class="btn btn-info" routerLink="details/{{post.id}}">Details</button></td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="col-md-4">
        <router-outlet></router-outlet>
    </div>
</div>